.grid-container {
    display: grid;
    grid-template-columns: 4vw auto;
    grid-template-rows: 5vh 1fr;
    grid-template-areas: "sidebar main"
        "sidebar main"
        "sidebar main";
    max-height: 100vh;

}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
    padding: 1rem;
}