.card-container {
    padding: 1rem;
    min-width: 250px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & div:first-child {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-size: 1.2rem;
        text-transform: capitalize;

        
    }

    & .count {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 10px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 50%;
    }
}